@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;


.menu-header {

    &__link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__logo-container {
        width: 2.25rem;
        padding: 0.3rem 0 0 0;
    }

    &__container {
        display:flex; 
        align-items: center;
        gap:1rem;
    }
}

.song-list {

    list-style-type: none;


    &__link {
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 1rem;
        border: 1px solid transparent;
        background-color: none;
        padding: 0.5rem 2rem;


        &:visited {
            text-decoration: none;
        }

        &:hover {
            cursor: pointer;
            border-bottom: 1px solid $yellow;
            background-color: #0000004b
            
        }
    }

    &__track {
        display: flex;
        flex-direction: column;
        background-color: transparent;
    }

    
    &__song-name {
        font-size: 1.5rem;
        
        background-color: transparent;

       
    }

    &__artist {
        background-color: transparent;
    }


    &__key {
        background-color: transparent;
    }

   
}