@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;


.menu-header {

    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    &__title { 
        flex-grow: 1;
    }

    &__log-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-basis: 30%;

        justify-content: flex-end;
    }

    &__logo-container {
        padding: 0.25rem 0 0 0;
        flex-basis: 2.5rem;
    }

    &__logo {
        width: 100%;
        height: auto;
    }

    &__logout {
        background-color: $purple;
        border-radius: .5rem;
        padding: .5rem 1rem;
        text-decoration: none;
        cursor: pointer;
    }
}