@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;


.landing {
  &__header {
    color: $purple;
    font-weight: 600;
    font-size: 2rem;
    position: fixed;
    top: 0;
    left: 0;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
